[Unit]
Description=Boot Progress 60%
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/pinctrl set 12 op dh

[Install]
WantedBy=multi-user.target
