[Unit]
Description=Boot Progress 80%
BindsTo=runusb.service
After=runusb.service

[Service]
Type=forking
ExecStart=/usr/bin/pinctrl set 6 op dh
ExecStop=/usr/bin/pinctrl set 6 op dl
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
