name: Image build

on:
  release:
    types: [created]
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install fdisk gdisk qemu-user-static libarchive-tools tar

      - name: Checkout
        uses: actions/checkout@v3.3.0
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Build image
        run: |
          ./build-image.sh

      - name: Get output name
        id: git-desc
        run: |
          echo "git_desc=$(git describe --tags --always)" >> $GITHUB_ENV
          echo "image_path=$(realpath ${{ github.workspace }}/*.img.xz)" >> $GITHUB_ENV
          echo "image_name=$(basename ${{ github.workspace }}/*.img.xz)" >> $GITHUB_ENV

      - name: Save image artifact
        uses: actions/upload-artifact@v3
        if: github.event_name != 'release'
        with:
          name: image-${{ env.git_desc }}
          path: ${{ env.image_path }}

      - name: Upload image to release
        uses: svenstaro/upload-release-action@v2
        if: github.event_name == 'release'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.image_path }}
          asset_name: ${{ env.image_name }}
          tag: ${{ github.ref }}
          overwrite: true
